<h1>New Profile</h1>
<%= form_for @profile, :html => { :multipart => true, :id => "myform" } do |f| %>
  <%= f.text_field :tagline %>
  <%= f.file_field :avatar %>
  <%= f.submit "Create!" %>
<% end %>